<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-linkedin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>LinkedIn</name><js-module name="LinkedIn" src="www/LinkedIn.js"><clobbers target="cordova.plugins.LinkedIn" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="LinkedIn"><param name="android-package" value="cordova-plugin-linkedin.LinkedIn" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/LinkedIn.java" target-dir="src/cordova-plugin-linkedin/LinkedIn" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="LinkedIn"><param name="ios-package" value="LinkedIn" /></feature></config-file><source-file src="src/ios/LinkedIn.m" /></platform></plugin>